@import url('https://fonts.googleapis.com/css?family=Play');
html {
    background: url('/files/anon.jpg') no-repeat center center fixed;
   
    font-family: 'Play', sans-serif;
    background-attachment: fixed
}
body, button { 
    font-family: 'Play', sans-serif
}
.shif {
    background-color: rgba(167, 110, 224, 0.74);
    width: 30%
}
.tim {
    display: inline-block
}
.time {
    background-color: rgba(172, 170, 173, 0.76);
    border: solid  5px rgb(63, 62, 65);
    width: 212px;
    margin-left: calc(100% - 217px);
}
.as1 {
    color: white
}
